[user]
	name = Ben Afonso
	email = ben@nightzookeeper.com
[credential]
	helper = cache
[core]
  pager = delta
	editor = nvim
[delta]
	features = side-by-side line-numbers decorations
	navigate = true
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
; [rebase]
;   instructionFormat = %s%nexec GIT_COMMITTER_DATE=\"%cI\" GIT_COMMITTER_NAME=\"%cN\" GIT_COMMITTER_EMAIL=\"%cE\" git commit --amend --no-edit%n
